.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--a-color);
}

.logo-header {
    color: var(--link-color);
}

.header-logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    display: block;
}


.header-list {
    display: flex;
}

.header-list :not(:last-child) {
    margin-right: 50px;
}

.header-list-two {
    display: flex;
    margin-bottom: 50px;
}

.contacts-wrap {
    margin-left: auto;
}

.link {
    display: flex;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--link-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
    &:hover, .icon-first {
    color: var(--a-color); 
    }
}

.pointer {
    &:hover, .social-item { 
        &:hover {
    color: var(--color);
    background-color: var(--a-color); }
    }
}

.menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}

.active {
    color: var(--a-color);
    position: relative;
}

.active::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: var(--a-color);
    border-radius: 2px;
}

.tables-two li {
    &:hover .overlay > .text-photo {
    transform: translateY(0); 
    }
}

.first-child {
    margin-left: 50px;
}

.telephone, .email {
    font-weight: 500;
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--description-color);
}

.email {
    &:hover, .email:focus {
    color: var(--a-color); 
    }
}

.header-container {
    display: flex;
    align-items: center;
}

.hero {
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}