/* Середина (Меню) */

.text {
    width: 696px;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--color);
}

/* Відкриваюче вікно для кнопки Замовити послугу */

.backdrop.is-hidden .modal {
    transform: scale(0.2) rotate3d(0, 0, 1, 1440deg);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: visible;
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    min-width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-two {
    margin-bottom: 180px;
    background: var(--a-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 52px;
    display: block;
    font-weight: 700;
    line-height: 30px;
    margin: 0 auto;
    letter-spacing: 0.06em;
    color: var(--color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-two {
    &:hover {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color); 
    }
}

.political {
    color: var(--a-color);
    text-decoration: underline;
    margin-left: 5px;
}

/* Кнопка закрити для відкриваючого вікна Замовити послугу */

.close {
    box-sizing: border-box;
    position: absolute;
    left: 490px;
    top: 8px;
    background: #FFFFFF;
}

.close-window {
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Меню в кнопці Замовити послугу */

.modal-title {
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 12px 0;
    line-height: 1.17;
    text-align: center;
    color: var(--link-color);
}

/* Вікна реєстрації ім'я / емейлу / коментар, т.д. */

.request-field {
    user-select: none;
    margin-bottom: 10px;
}

.input-window {
    margin-top: 4px;
    position: relative;
}

.request-field svg {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.request-field input {
    border: none;
    width: 100%;
    height: 40px; /* або 30px */
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    border-radius: 4px;
}

.request-field input:focus {
    border: 1px solid var(--a-color);
}

.request-field input:focus + svg {
    fill: var(--a-color);
}

.textarea {
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border: 1px solid var(--a-color);
}

/* ____________________________________________________________ */

.checkbox-footer {
    padding-left: 14px;
    user-select: none;
    display: flex;
    font-size: 14px;
    text-align: center;
    margin: 20px 0px 30px 0px;
    color: var(--description-color);
}

.policy {
    padding-top: 15px;
    padding-bottom: 10px;
}

.request {
    padding-left: 0px;
    display: block;
    gap: 12px;
}

.modal-first {
    display: block;
}

.checkbox {
    translate: 0 15%;
    width: 15px;
    height: 15px;
    color: var(--description-color);
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

/* Налаштування кнопки Замовити послугу */

.order {
    margin-bottom: 180px;
    background: var(--a-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    display: block;

    font-weight: 700;
    line-height: 30px;
    margin: 0 auto;
    letter-spacing: 0.06em;
    color: var(--color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Захований ордер для кнопки Замовити послугу*/
.order {
    &:hover {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color);
    }
}

.name-icon {
    font-size: 12px;
    cursor: pointer;
    color: var(--description-color);
}

