.hidden {
    &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}
}
.projects {
    padding: 94px 0;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
}

.menu-button {
    display: flex;
    border-radius: 4px;
    text-decoration: none;
    justify-content: center;
}

.pointer {
    padding-left: 22px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    color: var(--primary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-button:not(:first-child) {
    margin-left: 8px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}