.title-first {
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.title {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
}
/* Розміри і місце розташування */
.tables {
    display: flex;
    gap: 30px;
}

.photo {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--color);
}

.description-first {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--description-color);
}

.team {
    background: #F5F4FA;
}

.modifier {
    padding-bottom: 0;
}

section {
    display: block;
}

.section {
    padding: 94px 0;
}

.section.modifier {
    padding-bottom: 0;
} 

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.description-person {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--description-color);
}